.button {
    background: rgb(62, 152, 199);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 17px;
    margin: 15px 10px 15px 0px;
    font-size: 17px;
    cursor: pointer;
}

.button.invalid {
    background:lightgray;
}